
.titleBox {
  background-color:#fdfdfd;
  padding: 10px;
  text-align: left;
}

.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
  padding: 20px;
}

.taskDescription {
  margin-top:10px 0;
}

.commentList {
  padding:0;
  list-style:none;
}

.commentList li {
  margin:0;
  margin-top: 15px;
  padding-bottom: 8px;
}

.commentList li > div {
  display:table-cell;
}

.commenterImage {
  width:30px;
  margin-right:5px;
  height:100%;
  float:left;
}

.commenterImage img {
  width:100%;
  border-radius:50%;
}

.commentText p {
  margin:0;
}

.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}

.actionBox {
  border-top:1px dotted #bbb;
  padding:10px;
}

.commentButton {
  border: 2px solid #226fbe;
  border-radius: 30px;
  color: #fff;
  background: #226fbe;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 10px;
}

.form-control {
  border: 2px solid #226fbe;
  border-radius: 30px;
  cursor: pointer;
  padding: 20px;
  margin: 5px 10px;
}

.form-control {
  border: 2px solid #226fbe;
  border-radius: 30px;
  cursor: pointer;
  padding: 20px;
  margin: 5px 10px;
}

.extraPadding {
  padding-left: 25px;
  display: block !important;
}
